#root {
  margin: 0 auto;
  text-align: center;
}

h1,
h3 {
  margin: 0px;
  padding: 10px 0px;
  color: #35421d;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
}

@media screen and (max-width: 420px) {

  h1,
  h3 {
    padding-top: 20px;
  }

  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 15px;
  }
}